<h1><i class="far fa-grin-wink"></i> Face Login</h1>
{{#unless user}}
	<p class="lead">
	    <a href="/login" class="btn btn-lg btn-secondary">Login</a>
	    <a href="/signup" class="btn btn-lg btn-secondary">Signup</a>
	</p>
{{/unless}}