<h1>Profile Page</h1>
<div class="card">
    <h5 class="card-header">{{user.local.username}}</h5>
    <div class="card-body">
        <p class="card-text">ID: {{user.id}}</p>
        <p class="card-text">Password: {{user.local.password}}</p>
    </div>
</div>